* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.title {
    width: 31%;
}

.welcome {
    font-size: 1.8rem;
    font-weight: 500;
    transition: ease-in 1s;
    min-width: 100%;
}

.logo {
    height: 5.25rem;
}

.name {
    font-size: 2.8rem;
    font-family: "Segoe UI", Tahoma, Geneva;
    font-weight: 600;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-in 0.5s;
}
.sub-name {
    font-size: 1.5rem;
    font-weight: 300;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-in 0.5s;
}

.login {
    display: flex;
    width: 30%;
}

.login__input {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 15rem;
    border-radius: 10rem;
    margin-right: 1.5rem;
    color: inherit;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.login__input:focus {
    outline: none;
    border: 2px solid #ccc;
}

.login__input::placeholder {
    color: #bbb;
}
.login__input--pin {
    width: 8rem;
}

.login__btn {
    border: none;
    background: none;
    font-size: 2.4rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
    outline: none;
    color: #777;
}

/* MAIN */
.app {
    position: relative;
    max-width: 90%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
    transition: all 1s;
    display: none;
}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.balance__label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
}

.balance__date {
    font-size: 1.4rem;
    color: #888;
}

.balance__value {
    font-size: 4.5rem;
    font-weight: 400;
}

/* MOVEMENTS */
.movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

.movements__row {
    padding: 2.25rem 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;
}

.movements__date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
    font-size: 1.7rem;
    margin-left: auto;
}

/* SUMMARY */
.summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin: 1rem 0;
}

.summary__label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest,
.summary__value--interest--rate {
    color: #66c873;
}
.summary__value--interest--rate {
    font-size: 1.5rem;
    margin-left: -2rem;
}

.summary__value--out {
    color: #f5465d;
}

.btn--sort {
    margin-left: auto;
    padding: 3px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    cursor: pointer;
}

/* OPERATIONS */
.operation {
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: #333;
}

.operation--transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
}

.form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}

/* Exception for interest */
.form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
    grid-row: 2;
}

/* End exceptions */
.form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
    font-size: 1.3rem;
    text-align: center;
}

.form__btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn--logout {
    width: 100px;
    height: 23px;
    border: 1px solid #000;
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    border-radius: 5px;
}

.btn--logout:hover {
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    background-image: linear-gradient(to top left, #ffffff, #ded2d3);
}

.log-out {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
}

/* Information */
.section-info {
    display: grid;
    place-items: center;
    margin: 20rem auto;
    width: 100%;
    transition: all 0.5s;
    /* display: none; */
}

.info {
    padding: 2rem;
}

.info > p {
    font-size: 12px;
}

.info > ul > li {
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
}

/* responsive */
@media only screen and (max-width: 500px) {
    nav {
        flex-direction: column;
    }
    .title {
        text-align: center;
        margin-bottom: 10px;
    }
    .name {
        width: 25rem;
        margin-left: -7rem;
        margin-bottom: 1rem;
    }
    .welcome {
        font-size: 1.2rem;
    }
    .logo {
        margin-bottom: 1rem;
    }
    .login {
        justify-content: center;
    }

    .app {
        grid-template-columns: 4fr;
        grid-template-rows: auto repeat(6, 15rem) auto;
    }
    .balance {
        grid-column: 1;
    }
    .balance__value {
        font-size: 2.8rem;
    }

    /* MOVEMENTS */
    .movements {
        grid-row: 2 / 4;
    }

    /* SUMMARY */
    .summary {
        grid-row: 4;
    }
    .summary__value {
        font-size: 1.8rem;
    }
    .btn--sort {
        margin-left: 1rem;
    }
    .log-out {
        justify-content: center;
    }
}
